* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(15 15 15);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ----------------header--------------- */

body {
  position: relative;
}

.header {
  background-color: gray;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(102, 116, 204, 0.25) 0px 4px 10px;
  background-color: rgb(15 15 15);
  color: white;
  margin-bottom: 1rem;
  top: 0;
  position: fixed;
}

.navbar {
  height: 100%;
  width: 80%;
  /* border: 1px solid yellow; */
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 3rem;
}

.navbar-left {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-left img {
  width: 16rem;
  /* border: 1px solid red; */
}

.navbar-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid blue; */
  flex-wrap: wrap;
  margin-right: 8rem;
}

.navbar-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.navbar-right ul li {
  list-style-type: none;
  padding: 0px 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.navbar-right ul li:hover {
  color: rgb(102 115 204);
}

.login-btn {
  font-family: "Roboto", sans-serif;
  height: 3em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(102 115 204);
  background-color: rgb(102 115 204);
  color: white;
  border-radius: 200px;
  padding: 1.3rem;
}

/* -----------------------container-------------------------- */
.container {
  margin-top: 5rem;
  height: 90vh;
  width: 100%;
  background-color: rgb(15 15 15);
}

.text-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}

.dot {
  color: red;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(220 38 38);
  margin: 0.5rem 0rem;
}

.horizone-line-left {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 0%,
    rgba(255, 0, 0, 1) 60%
  );
}
.center-dot {
  color: red;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  margin: 0px 1rem;
}
.horizone-line-right {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 60%,
    rgb(15 15 15) 100%
  );
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 0px 1rem;
  height: 80vh;
  width: auto;
  /* border: 1px solid rgb(255, 208, 0); */
  justify-content: center;
  padding: 0.2rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 5px;
  background-color: rgb(15 15 15);
  padding: 1rem;
}

.left-card {
  background-color: rgb(185 28 28 / 10%);
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  width: 55%;
  padding: 1rem 0rem;
  border-radius: 10px 0px 0px 10px;
}
.left-card h1 {
  font-size: 35px;
  margin-top: 0rem;
  padding: 0rem 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(10 28 10 / 10%);
}

.left-card h1 span {
  background-color: rgb(10 28 10 / 10%);
}
.small-text {
  /* border: 1px solid red; */
  background-color: rgb(10 28 10 / 10%);
  display: flex;
  padding: 3rem 3rem;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}
.small-text ul {
  background-color: rgb(10 28 10 / 10%);
}
.small-text ul li {
  /* border: 1px solid gray; */
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgb(10 28 10 / 10%);
  font-family: "Roboto", sans-serif;
}

.card-btn-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: rgb(10 28 10 / 10%);
}
.card-btn {
  border-radius: 10px;
  border: transparent;
  width: 5em;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.5rem 0px;
  background-color: rgb(127 29 29 / 20%);
  border: 1px solid red;
  color: white;
}

.right-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  width: 35%;
  padding: 0rem;
  background-color: rgb(185 28 28 / 10%);
  border-radius: 0px 10px 10px 0px;
}

.right-card-inner-box {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(24 26 27);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-card img {
  margin: 0.5rem;
  width: 23rem;
  border-radius: 10px;
}

.right-card h2 {
  margin: 0rem 2rem;
  /* padding: 0.5rem; */
  background-color: rgb(10 28 10 / 10%);
}

.right-card hr {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border: 1px solid rgba(128, 128, 128, 0.541);
  width: 90%;
  margin: 1rem 1rem;
}
.supreme-btn {
  font-family: "Roboto", sans-serif;
  height: 3em;
  width: 14em;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: #dc2626;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  margin: 0.5rem auto;
  padding: 1.3rem;
}
.supreme-btn:hover {
  background-color: red;
}
/* ----------success-section------------ */

.success-section {
  margin-top: 4rem;
  height: 80vh;
  width: 100%;
  background-color: rgb(39, 36, 36);
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  padding: 0px 1rem;

  /* border: 1px solid rgb(255, 208, 0); */
  justify-content: center;
  padding: 0.2rem;
}

.success-section-inner-box {
  display: flex;
  flex-direction: row;
  padding: 0px 0rem;
  height: 98%;
  width: 88%;
  border: 1px solid rgb(255, 208, 0);
  justify-content: center;
  padding: 0.2rem;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 5px;
  background-color: rgb(15 15 15);
  padding: 1rem;
}
.left-success {
  border: 1px solid yellowgreen;
  width: 50%;
  height: 100%;
}
.left-success h1 {
  font-size: 3rem;
  margin-top: 0rem;
  padding: 0rem 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(10 28 10 / 10%);
}
.left-succes-p {
  margin: 1rem 0rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(66, 102, 66);
  font-family: "Roboto", sans-serif;
}
.btns {
  display: flex;
  justify-content: start;
  margin: 0.5rem 0rem 1rem 0.5rem;
  gap: 1rem;
}
.view-btn {
  font-family: "Roboto", sans-serif;
  height: 2.5em;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: rgb(102 115 204);
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 0.2rem 2rem;
}
.watch-btn {
  font-family: "Roboto", sans-serif;
  height: 2.5em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(239 71 111);
  background-color:black;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding:1rem 0.8rem;
}

.right-success {
  border: 1px solid red;
  width: 50%;
  height: 100%;
}
