* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(15 15 15);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ----------------header--------------- */

body {
  position: relative;
}

.header {
  background-color: gray;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(102, 116, 204, 0.25) 0px 4px 10px;
  background-color: rgb(15 15 15);
  color: white;
  margin-bottom: 1rem;
  top: 0;
  position: fixed;
}

.navbar {
  height: 100%;
  width: 80%;
  border: 1px solid red;
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 3rem;
}

.navbar-left {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-left img {
  width: 18rem;
}

.navbar-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid blue; */
  flex-wrap: wrap;
  margin-right: 8rem;
}

.navbar-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.navbar-right ul li {
  list-style-type: none;
  padding: 0px 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.navbar-right ul li:hover {
  color: rgb(102 115 204);
}

.login-btn {
  font-family: "Roboto", sans-serif;
  height: 3em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(102 115 204);
  background-color: rgb(102 115 204);
  color: white;
  border-radius: 200px;
  padding: 1.3rem;
}

/* -----------------------container-------------------------- */
.container {
  margin-top: 5rem;
  height: 90vh;
  width: 100%;
  background-color: rgba(121, 83, 83, 0.377);
  border: 1px solid red;
}

.text-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}

.dot {
  color: red;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(220 38 38);
  border: 1px solid green;
  margin: 0.5rem 0rem;
}

.horizone-line-left {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 0%,
    rgba(255, 0, 0, 1) 60%
  );
}
.center-dot {
  color: red;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  margin: 0px 1rem;
}
.horizone-line-right {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 60%,
    rgb(15 15 15) 100%
  );
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 0px 1rem;
  height: 70%;
  width: auto;
  border: 1px solid aqua;
}

.left-card {
  border: 2px solid red;
  width: 60%;
}
.left-card h1 {
  border: 1px solid yellow;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}

.small-text {
  border: 1px solid greenyellow;
  display: flex;
  padding: 3rem 3rem;
  gap: 3rem;
  font-family: "Roboto", sans-serif;

}
.small-text ul li {
  /* border: 1px solid gray; */
  font-size: 1rem;
  line-height: 1.5rem;
}

.right-card {
  border: 2px solid green;
  width: 40%;
}
