* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(15 15 15);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ----------------header--------------- */

body {
  position: relative;
}

.header {
  background-color: gray;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(102, 116, 204, 0.25) 0px 4px 10px;
  background-color: rgb(15 15 15);
  color: white;
  margin-bottom: 1rem;
  top: 0;
  position: fixed;
  z-index: 1;
}

.navbar {
  height: 100%;
  width: 80%;
  /* border: 1px solid yellow; */
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 3rem;
}

.navbar-left {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-left img {
  width: 16rem;
  /* border: 1px solid red; */
}

.navbar-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid blue; */
  flex-wrap: wrap;
  margin-right: 8rem;
}

.navbar-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.navbar-right ul li {
  list-style-type: none;
  padding: 0px 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.navbar-right ul li:hover {
  color: rgb(102 115 204);
}

.login-btn {
  font-family: "Roboto", sans-serif;
  height: 3em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(102 115 204);
  background-color: rgb(102 115 204);
  color: white;
  border-radius: 200px;
  padding: 1.3rem;
}

/* -----------------------container-------------------------- */
.container {
  margin-top: 5rem;
  height: 90vh;
  width: 100%;
  background-color: rgb(15 15 15);
}

.text-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: normal;
  /* font-family: "Roboto", sans-serif; */
}

.dot {
  color: red;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(220 38 38);
  margin: 0.5rem 0rem;
}

.horizone-line-left {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 0%,
    rgba(255, 0, 0, 1) 60%
  );
}
.center-dot {
  color: red;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  margin: 0px 1rem;
}
.horizone-line-right {
  width: 2.3em;
  font-size: xx-large;
  height: 1px;
  background: #070707;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 60%,
    rgb(15 15 15) 100%
  );
}

.card-container {
  display: flex;
  flex-direction: row;
  padding: 0px 1rem;
  height: 80vh;
  width: auto;
  /* border: 1px solid rgb(255, 208, 0); */
  justify-content: center;
  padding: 0.2rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 5px;
  background-color: rgb(15 15 15);
  padding: 1rem;
}

.left-card {
  background-color: rgb(185 28 28 / 10%);
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  width: 55%;
  padding: 1rem 0rem;
  border-radius: 10px 0px 0px 10px;
}
.left-card h1 {
  font-size: 35px;
  margin-top: 0rem;
  padding: 0rem 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(10 28 10 / 10%);
}

.left-card h1 span {
  background-color: rgb(10 28 10 / 10%);
}
.small-text {
  /* border: 1px solid red; */
  background-color: rgb(10 28 10 / 10%);
  display: flex;
  padding: 3rem 3rem;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}
.small-text ul {
  background-color: rgb(10 28 10 / 10%);
}
.small-text ul li {
  /* border: 1px solid gray; */
  list-style-type: none;
  display: flex;
  align-items: start;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgb(10 28 10 / 10%);
  font-family: "Roboto", sans-serif;
}


.small-text ul li img {
  margin-right: 5px;
  margin-top: 3px;
}
.card-btn-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: rgb(10 28 10 / 10%);
}
.card-btn {
  border-radius: 10px;
  border: transparent;
  width: 5em;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.5rem 0px;
  background-color: rgb(127 29 29 / 20%);
  border: 1px solid red;
  color: white;
}

.right-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  width: 35%;
  padding: 0rem;
  background-color: rgb(185 28 28 / 10%);
  border-radius: 0px 10px 10px 0px;
}

.right-card-inner-box {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(24 26 27);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-card img {
  margin: 0.5rem;
  width: 23rem;
  border-radius: 10px;
}

.right-card h2 {
  margin: 0rem 2rem;
  /* padding: 0.5rem; */
  background-color: rgb(10 28 10 / 10%);
}

.right-card hr {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border: 1px solid rgba(128, 128, 128, 0.541);
  width: 90%;
  margin: 1rem 1rem;
}
.supreme-btn {
  font-family: "Roboto", sans-serif;
  height: 3em;
  width: 14em;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: #dc2626;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  margin: 0.5rem auto;
  padding: 1.3rem;
}
.supreme-btn:hover {
  background-color: red;
}
/* ----------success-section------------ */

.success-section {
  margin-top: 4rem;
  height: 80%;
  width: 100%;
  background-color: rgb(15 15 15);
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  padding: 0px 0rem;
  /* border: 1px solid rgb(255, 208, 0); */
  justify-content: center;
  padding: 0.2rem;
}

.success-section-inner-box {
  display: flex;
  flex-direction: row;
  padding: 0px 0rem;
  height: 100%;
  width: 86%;
  /* border: 1px solid rgb(255, 208, 0); */
  justify-content: center;
  padding: 0.2rem;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row;
  margin: 5px;
  background-color: rgb(15 15 15);
  padding: 1rem;
  border-radius: 10px;
}
.left-success {
  padding: 1rem 0rem;
  /* border: 1px solid yellowgreen; */
  width: 50%;
  height: 100%;
}
.left-success h1 {
  font-size: 2.5em;
  margin-top: 0rem;
  margin-left: 0.5rem;
  padding: 0rem 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(10 28 10 / 10%);
}
.left-succes-p {
  margin: 1rem 0rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  /* background-color: rgba(66, 102, 66); */
  font-family: "Roboto", sans-serif;
}
.btns {
  display: flex;
  justify-content: start;
  margin: 1rem 2rem;
  gap: 1rem;
}
.view-btn {
  font-family: "Roboto", sans-serif;
  height: 2.5em;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: rgb(102 115 204);
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 1rem 2rem;
  cursor: pointer;
}
.watch-btn {
  width: 15rem;
  font-family: "Roboto", sans-serif;
  height: 2.5em;
  align-items: center;
  border: 1px solid rgb(239 71 111);
  background-color: rgb(255 255 255 / 10%);
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}
.watch-btn:hover {
  background-color: #fff;
  color: rgb(239 71 111);
  cursor: pointer;
}

.div-with-btn {
  width: 30rem;
  font-family: "Roboto", sans-serif;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(239 71 111);
  background-color: rgb(255 255 255 / 10%);

  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 2rem;
  margin: 5rem 1rem;
}

.div-with-btn p {
  background-color: transparent;
}

.six-img-box {
  display: flex;
  justify-content: start;
  background-color: transparent;
}

.six-img-box img {
  margin-left: -1.2rem;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.six-img-box img:hover {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
}

.right-success {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
  padding: 1rem 1rem;
}

.right-succes-inner-box {
  /* border: 1px solid green; */
  flex-shrink: initial;
  display: flex;
  margin: auto;
  justify-self: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 2rem;
}

.right-success-btn {
  width: 16rem;
  font-family: "Roboto", sans-serif;
  /* height: 2.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255 / 10%);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  padding: 1.4rem 0.2rem;
  cursor: pointer;
  border: 2px solid deeppink;

  border-image: linear-gradient(45deg, gold, silver) 1;
  clip-path: inset(0px round 10px);
  animation: border_rotate 6s infinite linear;
  filter: border-rotate(360deg);
}

@keyframes border_rotate {
  0% {
    filter: border-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* ------------achievement section---------------- */

.achievement-container {
  margin: auto;
  height: auto;
  width: 100%;
  background-color: rgb(15 15 15);
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  padding: 0px 1rem;
  justify-content: center;
  padding: 0.2rem;
}

.achievement-inner-part {
  display: flex;
  width: 86%;
  padding: 4rem 0rem;
  justify-content: center;
  gap: 2rem;
  border: 2px solid red;
  border-image: linear-gradient(45deg, gold, rgb(56, 110, 143)) 1;
  flex-wrap: wrap;
  border-radius: 5px;
}

.achieve-btn {
  border: 1px solid pink;
  border-radius: 10px;
  display: flex;
  width: 14rem;
  height: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achieve-btn h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.achieve-btn p {
  font-family: "Roboto", sans-serif;
  margin-top: 0.4rem;
  font-size: 18px;
}

/* ------------section third---------- */
.section-third {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-third-inner-box {
  margin: 2rem 1rem;
  padding: 0rem 4rem;
  width: 86%;
  display: flex;
  border: 1px solid #377af5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.third-left {
  background-color: rgb(40, 48, 40);
  width: 50%;
}
.img-logo {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid white;
}
.third-left-card {
  /* border: 1px solid red; */
  padding: 1rem 0rem;
}
.third-left-card h3 {
  margin: 0.5rem 0rem;
  font-family: "Roboto", sans-serif;
}
.third-left-card p {
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: gray;
}
.third-left-card hr {
  margin-top: 2rem;
  border-top: 1px solid gray;
  width: 90%;
  border-bottom: transparent;
}

.third-right {
  padding: 0px 2.5rem;
  background-color: rgb(48, 40, 40);
  width: 50%;
  background-color: rgb(15 15 15);
}
.third-right h2 {
  color: rgb(239 71 111);
  margin: 0.5rem 0rem;
  font-family: "Roboto", sans-serif;
}
.third-right h1 {
  font-weight: 600;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}
.third-right p {
  color: gray;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.connect-btn {
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
}

/* -------section 5th------------ */

.section-fifth-heading {
  display: flex;
  justify-content: center;
}
.section-fifth-heading div {
  width: 60%;
}
.section-fifth-heading p {
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 600;
}

.fifth-left {
  width: 50%;
  margin: 1rem 0rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.html-code {
  background-color: #377af5;
}

.editor {
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.6); */
}

.editor ol {
  font-weight: bold;
  margin: 0;
  padding-left: 40px;
  color: rgb(251 144 20); /* code color */
}

.editor li {
  line-height: 1.8;
  font-size: 1.22rem;
  line-height: 1.75rem;
}

/* --------section 6th---------- */
.section-sixth {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-sixth-inner-box {
  margin: 2rem 1rem;
  /* padding: 0rem 1rem; */
  width: 86%;
  display: flex;
  /* border: 1px solid yellow; */
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: stretch;
}
.sixth-left-part {
  width: 49%;
  border: 2px solid #377af5;
  padding: 1rem 2.5rem;
  border-radius: 8px;
}
.sixth-top h1 {
  font-weight: 600;
  margin: 1rem 0rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.second-para {
  color: gray;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.fruitbox-p {
  color: rgb(123, 143, 217);
  font-weight: 600;
  margin: 0.5rem 0rem;
  font-family: "Roboto", sans-serif;
}

.sixth-right-part {
  width: 49%;
  padding: 1rem 2.5rem;
  border: 2px solid #377af5;
  border-radius: 8px;
}

.sixth-bottom {
  margin-top: 2.5rem;
  position: relative;
  left: 2.5em;
  top: 1em;
}

/* ----section 7th----------- */
.section-seventh {
  height: auto;
  width: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: inherit;
}
.seventh-top-section {
  /* width: 86vh; */
  display: flex;
  /* border: 1px solid red; */
}

.seventh-top-section p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1rem 0rem;
  font-family: "Roboto", sans-serif;
  color: rgb(102 107 116);
}

.seventh-bottom-section {
  padding-top: 1rem;
  padding-bottom: 3rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

/* --------section 8th------- */
.section-eight-inner {
  flex-direction: row-reverse;
}
.graph-img {
  border: 1px solid red;
  width: 100%;
  height: 50vh;
  margin: 2rem 2rem;
}
.section-eight-ul {

}

.section-eight-ul li {
  font-size: 1rem;
  margin: 0.5rem 0px;
  line-height: 2.5rem;
  list-style-type: none;
  background-color: rgb(10 28 10 / 10%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
